public Builder add${field.name}(${field.unboxedType} value) {
  return addRepeatedField(${field.number}, value);
}

public Builder set${field.name}(int index, ${field.unboxedType} value){
  return setRepeatedField(${field.number}, index, value);
}

#if (${field.hasEnumValueAccessors()})
  public Builder set${field.name}Value(int index, int value){
    return setRepeatedFieldForEnumValue(${field.number}, index, ${field.unboxedType}.forNumber(value), value);
  }

  public Builder add${field.name}Value(int value) {
    return addRepeatedFieldForEnumValue(${field.number}, ${field.unboxedType}.forNumber(value), value);
  }
#end

#if (${field.isMessage()})
  public Builder add${field.name}(${field.unboxedType}.Builder builder){
    return add${field.name}(builder.build());
  }

  public Builder set${field.name}(int index, ${field.unboxedType}.Builder builder){
    return set${field.name}(index, builder.build());
  }
#end

public final Builder addAll${field.name}(java.lang.Iterable<${field.boxedType}> values) {
  return addAllRepeatedField(${field.number}, values);
}
