@com.google.errorprone.annotations.CanIgnoreReturnValue
public Builder set${field.name}(${field.unboxedType} value){
  #if (${field.isOneOf()})
    clearAll${field.oneOfName}Fields();
  #end
  return setField(${field.number}, value);
}

#if (${field.hasEnumValueAccessors()})
  @com.google.errorprone.annotations.CanIgnoreReturnValue
  public Builder set${field.name}Value(int value){
    return setFieldForEnumValue(${field.number}, ${field.unboxedType}.forNumber(value), value);
  }
#end

#if (${field.isMessage()})
  @com.google.errorprone.annotations.CanIgnoreReturnValue
  public Builder set${field.name}(${field.unboxedType}.Builder builder){
    return set${field.name}(builder.build());
  }
#end
