public Builder set${field.name}(${field.unboxedType} value){
  #if (${field.isOneOf()})
    clearAll${field.oneOfName}Fields();
  #end
  return setField(${field.number}, value);
}

## TODO(b/198495266): Fix handling of UNRECOGNIZED in WASM
#if (${field.hasEnumValueAccessors()})
  public Builder set${field.name}Value(int value){
    return set${field.name}(${field.unboxedType}.forNumber(value));
  }
#end

#if (${field.isMessage()})
  public Builder set${field.name}(${field.unboxedType}.Builder builder){
    return set${field.name}(builder.build());
  }
#end
