#if (${field.isEnum()})
  @jsinterop.annotations.JsOverlay
  public final Builder set${field.name}(int index, ${field.unboxedType} value) {
    return internal_set${field.name}(index, #convertToClosureEnum( $field "value" ));
  }

  @jsinterop.annotations.JsMethod(name = "set${field.jsName}")
  private native Builder internal_set${field.name}(int index, Object value);

  @jsinterop.annotations.JsOverlay
  public final Builder add${field.name}(${field.unboxedType} value) {
    return internal_add${field.name}(#convertToClosureEnum( $field "value" ));
  }

  #if (${field.hasEnumValueAccessors()})
    @jsinterop.annotations.JsOverlay
    public final Builder add${field.name}Value(int value) {
      return internal_add${field.name}(#convertToClosureEnum( $field "value" ));
    }

    @jsinterop.annotations.JsOverlay
    public final Builder set${field.name}Value(int index, int value) {
      return internal_set${field.name}(index, #convertToClosureEnum( $field "value" ));
    }
  #end

  @jsinterop.annotations.JsMethod(name = "add${field.jsName}")
  private native Builder internal_add${field.name}(Object value);
#else

  @jsinterop.annotations.JsMethod(name = "add${field.jsName}")
  public native Builder add${field.name}(${field.unboxedType} value);

  @jsinterop.annotations.JsMethod(name = "set${field.jsName}")
  public native Builder set${field.name}(int index, ${field.unboxedType} value);

  #if (${field.isMessage()})
    @jsinterop.annotations.JsMethod(name = "add${field.jsName}")
    public native Builder add${field.name}(${field.unboxedType}.Builder builder);

    @jsinterop.annotations.JsMethod(name = "set${field.jsName}")
    public native Builder set${field.name}(int index, ${field.unboxedType}.Builder builder);
  #end
#end
@jsinterop.annotations.JsOverlay
public final Builder addAll${field.name}(java.lang.Iterable<${field.boxedType}> values) {
  com.google.protobuf.GeneratedMessageLite.Internal_.addAll(values, this::add${field.name});
  return this;
}
