## Copyright 2019 Google LLC
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
## http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.

#foreach ($field in $extensions)
  #set ($extensionMethod = "Single${field.stem()}")
  #set ($extensionType = "${field.boxedType}")
  #if ($field.isRepeated())
    #set ($extensionMethod = "Repeated${field.stem()}")
    #set ($extensionType = "java.util.List<${field.boxedType}>")
  #end

  #set ($converters = "internal_${field.name}")
  #if ($field.isEnum())
    #set ($enumReadConverter = "v -> ${field.unboxedType}.Internal_ClosureEnum.toEnum(v)")
    #set ($enumWriteConverter = "v ->  ${field.unboxedType}.Internal_ClosureEnum.toClosureValue(v)")
    #set ($converters = "$converters, $enumReadConverter, $enumWriteConverter")
  #end

  ## Underlying field in immutable_js
  @jsinterop.annotations.JsProperty(name = "$field.jsName")
  private static com.google.protobuf.GeneratedMessageLite.Internal_.ExtensionFieldInfo<${field.extendedMessage}, ?> internal_${field.name};

  ## Java api field
  @jsinterop.annotations.JsOverlay
  public static final com.google.protobuf.ExtensionLite<${field.extendedMessage}, ${extensionType}> $field.name = com.google.protobuf.GeneratedMessageLite.Internal_.create${extensionMethod}Extension($converters);
#end
