##
## This file is used to render the outer class and its subclasses when producing
## a single output file.
##
#parse( "converter.vm" )
package $fileDescriptor.package;

@javax.annotation.processing.Generated(value = "protoc-j2cl")
#if (${fileDescriptor.hasExtensions()})
@jsinterop.annotations.JsType(isNative = true, name = "$fileDescriptor.jsName", namespace = "$fileDescriptor.jsNameSpace")
#end
public final class $fileDescriptor.className {

private ${fileDescriptor.className}() {}

#if (!$fileDescriptor.multipleFiles)

  #foreach ($enumDescriptor in ${fileDescriptor.enums})
    #parse('enum.vm')
  #end

  #foreach ($descriptor in ${fileDescriptor.messages})
    #parse ('message.vm')
  #end

#end

## render extensions
#set ($extensions = $fileDescriptor.extensions)
#parse('extension.vm')
}

