@jsinterop.annotations.JsMethod(name = "get${field.jsName}Count")
public native int get${field.name}Count();

#parse('getter.vm')

#set ($conversion = "")
#if (!$field.fieldConverter.empty)
  #set ($conversion = ", ${field.fieldConverter}")
#end

@jsinterop.annotations.JsMethod(name = "get${field.jsName}List")
private native com.google.protobuf.GeneratedMessageLite.Internal_.ListView<${field.fieldConverterNativeType}> internal_get${field.name}List();

@jsinterop.annotations.JsOverlay
public final java.util.List<${field.boxedType}> get${field.name}List() {
  return com.google.protobuf.GeneratedMessageLite.Internal_.createList(internal_get${field.name}List()${conversion});
}
