#set ($param = "")
#set ($paramDec = "")
#if (${field.isRepeated()})
  #set ($param = "index")
  #set ($paramDec = "int index")
#end

public ${field.unboxedType} get${field.name}(${paramDec}){
  #if (${field.isRepeated()})
    return getRepeatedField(${field.number}, ${param});
  #else
    return getField(${field.number}, () -> ${field.defaultValue});
  #end
}

## TODO(b/198495266): Fix handling of UNRECOGNIZED in WASM
#if (${field.hasEnumValueAccessors()})
  public int get${field.name}Value(${paramDec}){
    return get${field.name}(${param}).getNumber();
  }
#end
