@jsinterop.annotations.JsMethod(name = "has${field.jsName}")
public native boolean has${field.name}();

#if ($field.isEnum())
  @jsinterop.annotations.JsOverlay
  public final ${field.unboxedType} get${field.name}() {
    int closureEnumValue = internal_get${field.name}().getClosureValue();
    return ${field.unboxedType}.forNumber(closureEnumValue);
  }

  @jsinterop.annotations.JsMethod(name = "get${field.jsName}")
  public native ${field.unboxedType}.Internal_ClosureEnum internal_get${field.name}();
#else
  @jsinterop.annotations.JsMethod(name = "get${field.jsName}")
  public native ${field.unboxedType} get${field.name}();
#end
