@jsinterop.annotations.JsMethod(name = "get${field.jsName}Count")
public native int get${field.name}Count();

#if (${field.isEnum()})
  @jsinterop.annotations.JsOverlay
  public final ${field.unboxedType} get${field.name}(int index) {
    return ${field.unboxedType}.forNumber(internal_get${field.name}(index).getClosureValue());
  }

  @jsinterop.annotations.JsMethod(name = "get${field.jsName}")
  private native ${field.unboxedType}.Internal_ClosureEnum internal_get${field.name}(int index);
#else
  @jsinterop.annotations.JsMethod(name = "get${field.jsName}")
  public native ${field.unboxedType} get${field.name}(int index);
#end

#if ($field.needsConversion())
  #set ($nativeListType = "java.lang.Object")
  #if (${field.isEnum()})
    #set ($conversion = ", (d) -> ${field.unboxedType}.forNumber(jsinterop.base.Js.asInt(d))")
  #else
    #set ($conversion = ", com.google.protobuf.GeneratedMessageLite.Internal.${field.unboxedType.toUpperCase()}_TYPE_CONVERTER")
  #end
#else
  #set ($nativeListType = $field.boxedType)
  #set ($conversion = "")
#end

@jsinterop.annotations.JsMethod(name = "get${field.jsName}List")
private native com.google.protobuf.GeneratedMessageLite.Internal.ListView<${nativeListType}> internal_get${field.name}List();

@jsinterop.annotations.JsOverlay
public final java.util.List<${field.boxedType}> get${field.name}List() {
  return com.google.protobuf.GeneratedMessageLite.Internal.createList(internal_get${field.name}List()${conversion});
}
