public enum $oneOfDescriptor.name {

${oneOfDescriptor.defaultOneOfEntry}(0)
#foreach ($field in $oneOfDescriptor.fields)
  ,${field.name}($field.number)#if (!$foreach.hasNext);#end
#end

private final int fieldNumber;

private ${oneOfDescriptor.name}(int fieldNumber) {
  this.fieldNumber = fieldNumber;
}

public int getNumber() {
  return fieldNumber;
}

@jsinterop.annotations.JsIgnore
public static final $oneOfDescriptor.name forNumber(int i) {
  switch(i) {
#foreach ($field in $oneOfDescriptor.fields)
    case $field.number: return ${field.name};
#end
  }
  return ${oneOfDescriptor.defaultOneOfEntry};
}
}

