#foreach ($type in $primitiveTypes)
#set ($valueType = $type.expression)
#set ($stem = $type.target().stem)

  //////////////////////////////////////////////////////////////////////////////
  //
  // ${stem} accessors start
  //
  //////////////////////////////////////////////////////////////////////////////

  /**
   * @param {number} fieldNumber
   * @return {!${valueType}}
   */
  get${stem}Field(fieldNumber) {
    return this.getField_(fieldNumber, FieldAccessor.get${stem});
  }

  /**
   * @param {number} fieldNumber
   * @param {!${valueType}} defaultValue
   * @return {!${valueType}}
   */
  get${stem}FieldWithDefault(fieldNumber, defaultValue) {
    return this.getFieldWithDefault_(
        fieldNumber, defaultValue, FieldAccessor.get${stem}WithDefault);
  }

  /**
   * @param {number} fieldNumber
   * @return {!ListView<!${valueType}>}
   */
  getRepeated${stem}Field(fieldNumber) {
    return this.getListView_(fieldNumber, FieldAccessor.get${stem});
  }

  //////////////////////////////////////////////////////////////////////////////
  //
  // ${stem} accessors stop
  //
  //////////////////////////////////////////////////////////////////////////////

  //////////////////////////////////////////////////////////////////////////////
  //
  // ${stem} accessors for builder start
  //
  //////////////////////////////////////////////////////////////////////////////

  /**
   * @param {number} fieldNumber
   * @param {!${valueType}} value
   */
  set${stem}Field(fieldNumber, value) {
    this.setField_(fieldNumber, value, FieldAccessor.set${stem});
  }

  /**
   * @param {number} fieldNumber
   * @return {!InternalMutableListView<!${valueType}>}
   */
  getMutableRepeated${stem}Field(fieldNumber) {
    return this.getMutableListView_(fieldNumber, FieldAccessor.set${stem});
  }

  //////////////////////////////////////////////////////////////////////////////
  //
  // ${stem} accessors for builder stop
  //
  //////////////////////////////////////////////////////////////////////////////

#end

  //////////////////////////////////////////////////////////////////////////////
  //
  // Message accessors start
  //
  //////////////////////////////////////////////////////////////////////////////

  /**
   * @param {number} fieldNumber
   * @param {function(new:T, !Array<*>)} ctor
   * @template T
   * @return {T}
   */
  getMessageField(fieldNumber, ctor) {
    const instanceCreator = data => JspbKernel.fromArray(ctor, data);
    return this.getField_(
        fieldNumber, (a, i) => FieldAccessor.getMessage(a, i, instanceCreator));
  }

  /**
   * @param {number} fieldNumber
   * @param {function(new:T, !Array<*>)} ctor
   * @template T
   * @return {!ListView<T>}
   */
  getRepeatedMessageField(fieldNumber, ctor) {
    const instanceCreator = data => JspbKernel.fromArray(ctor, data);
    return this.getListView_(
        fieldNumber, (a, i) => FieldAccessor.getMessage(a, i, instanceCreator));
  }

  //////////////////////////////////////////////////////////////////////////////
  //
  // Message accessors stop
  //
  //////////////////////////////////////////////////////////////////////////////

  //////////////////////////////////////////////////////////////////////////////
  //
  // Message accessors for builder start
  //
  //////////////////////////////////////////////////////////////////////////////

  /**
   * @param {number} fieldNumber
   * @template T
   * @return {!InternalMutableListView<T>}
   */
  getMutableRepeatedMessageField(fieldNumber) {
    return this.getMutableListView_(fieldNumber, messageFieldWriter);
  }

  /**
   * @param {number} fieldNumber
   * @param {!JspbKernel} value
   */
  setMessageField(fieldNumber, value) {
    this.setField_(fieldNumber, value, messageFieldWriter);
  }

  //////////////////////////////////////////////////////////////////////////////
  //
  // Message accessors for builder stop
  //
  //////////////////////////////////////////////////////////////////////////////
