## Copyright 2019 Google LLC
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
## http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.

#foreach ($field in $extensions)
#if ($field.isRepeated())
#set ($extensionCreator = "proto_im_InternalMessage.ExtensionFieldInfo.createRepeated${field.stem}Extension")
#else
#set ($extensionCreator = "proto_im_InternalMessage.ExtensionFieldInfo.createSingle${field.stem}Extension")
#end
/** @const {!proto_im_Message.ExtensionFieldInfo<$field.jsDoc>}*/
#if ($field.isMessage())
${enclosingTypeName}.${field.name} = $extensionCreator(${field.number}, $field.type.expression);
#else
${enclosingTypeName}.${field.name} = $extensionCreator(${field.number});
#end

#end
